/* medias queries */
/* desktop */
@media only screen and (min-width:1240px){
    .section__div__titulo h1{
        text-align:left;
        font-size: 100px; 
        color: #ffffff;
    }

    .section__div__texto{
        text-align: left;
        font-size: 22px;
        color: #ffffff;
    }
}

@media only screen and (min-width:880px) and (max-width:1239px){
    .section__div__titulo h1{
        text-align:left;
        font-size: 80px; 
        color: #ffffff;
    }
    
    .section__div__texto{
        text-align: left;
    }

    .header__nav__menu{
        padding:0 70px 30px 120px;
    }

    .header__nav__menu li{
        font-size: 17px;
    }

    .header__nav__menu li ul a{
        padding: 10px;
    }
}

@media only screen and  (min-width:0px) and (max-width:879px) {
    .section__div__titulo,.section__div__tercertitulo {
        text-align:left;
        margin-left: 10px; 
    }
    .section__div__texto{
        text-align:left;
        margin-left: 10px; 
        padding-right: 15px;
    }

    .section__div__titulo h1{
        font-size: 42px; 
    }

    .section__div__texto p{
        font-size: 17px;
        text-align: justify;
        
    }

    .section__div__tercertitulo h3{
        font-size: 19px;
    }

    .header__icono{
        padding: 6px;
        width: 70px;
        height:auto;
        position: fixed;
        margin: 19px 5px;
    }

    .header__nav__menu{
        display: flex;
        justify-content: space-around;
        margin-left: 20px;
        padding: 10px 35px 60px 45px;
    }

    .header__nav__menu li{
        font-size: 12px;
        text-align: center; 
    }

    .header__nav__submenu{
        position: absolute;
    }

    .header__nav__menu li ul a{
        padding: 15px;
    }

    .footer__div{
        display: flex;  
    }

    .footer__imagen{
        padding: 6px;
        height: 53.53px;
        width: 70px;
        margin: 24px 5px;
    }

    .footer__div__contacto{
        margin-left: 20px;
    }

    .footer__div__referencias{
        margin: 30px 0;
    }

    .footer__div__contacto a, .footer__div__referencias a{
        font-size: 13px;
    }

    .footer__div__phone, .footer__div__mail{
        position: absolute;
        left: 85px;
        height: 13px;
        width: auto; 
    }


    .section__div__article{
        display: flex;
        justify-content: center;
        align-content: center;
        margin:0 auto;
        z-index: 998;
    }
    
    .section__div__formulario{
        flex-basis: 100%;
        box-sizing: border-box;
        height: 420px;
        background-color:#c5ced98a;
        border-radius: 9px;
        font-family:  'Poppins', sans-serif;
        font-size: 14px;
    }
    
    fieldset{
        border:none;
        padding: 10px 15px ;
    }
    
    .section__div__campo input, textarea{
        border: solid 1px #8692b8;
        font-size: 14px;
    }
    
    .campo, textarea{
        width: 360px;
        background-color: #ffffff94;
        padding: 5px;
    }
}
