/* medias queries */

@media (max-width:1200px){
    
    .section__div__titulo h1{
        font-size: 6rem;
    }

    .section__div__titulo--contacto h1{
        font-size: 6rem;
    }

    .section__div__titulo--acercaDe h1{
        font-size: 6rem;
    }

    .section__div__formulario{
        font-size: 1.2rem;
    }

    p{
        font-size: 1.5rem;
    }


    .section__div__formulario{
        height: 410px;
    }
    
    fieldset{
        padding: 10px 15px ;
    }
    
    .section__div__campo input, textarea{
        font-size: 14px;
    }
    

    fieldset{
        padding: 10px 15px ;
    }
    
    .section__div__campo input, textarea{
        font-size: 0.9rem;
    }
    
    .campo, textarea{
        width: 800px;
        padding: 5px;
    }

    nav a{
        font-size: 1.1rem;
    }

    .header__nav__submenu, .header__nav__menu{
        font-size:1rem;
    }

    .header__nav__menu li{
        font-size: 1rem;
        width: 17vw;
    }
}



@media (max-width:890px) {
    .section__div__titulo{
        width: fit-content;
    }

    .section__div__titulo h1{
        font-size: 3rem;
    }

    .section__div__titulo--contacto h1{
        font-size: 3rem;
    }

    .section__div__titulo--acercaDe h1{
        font-size: 3rem;
    }

    p{
        font-size: 1.3rem;
    }

    .campo, textarea{
        width: 690px;
    }

    .header__nav__submenu{
        font-size:15px;
    }

    .header__nav__menu li{
        font-size: 16px;
        width: 17vw;
    }


}

@media (max-width:856px){
    .campo, textarea{
        width: 680px;
        padding: 5px;
    }

    .header__nav__menu li{
        font-size: 0.6rem;
        width: 17vw;
    }

    p{
        font-size: 1.2rem;
    }


}

@media (max-width:767px){

    .section__div__titulo h1{
        font-size: 3rem;
    }
    .section__div__titulo--contacto h1{
        font-size:  3rem;
    }

    .section__div__titulo--acercaDe h1{
        font-size: 3rem;
    }
     
    .campo, textarea{
        width: 490px;
    }


    .header__nav__submenu{
        visibility: hidden;
    }

    .header__nav__menu ul{
        width: 70vw;
    }

    .header__nav__menu li{
        font-size: 0.5rem;
        width: 17vw;
    }

    .footer{
        display: block;
        height: auto;
    }

    .footer__div{
        padding: 0 30vw;
        display: inline-block;
    }

    .footer__imagen{
        padding:8px;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
    }

    .footer__imagen img{
        width: 110px;
        height:auto;
        
    }
    .footer__div__contacto{
        width: 40vw;
        align-items: center;
        
    }

    .footer__div__referencias{
        
        width: 35vw;
        text-align: center;
    }

    .footer__div__contacto a, .footer__div__referencias a{
        font-size: 13px;
        text-align: center;
    }

}

@media (max-width:759px) {
    .section__div__campo input, .section__div__campo textarea{
        width: 70vw;
    }

    nav a {
        font-size: 0.9rem;
    }

    .header__nav{
        display: flex;
        justify-content: flex-end;
    }

    .header__nav__menu li{
        width: 14vw;
    }
}


@media (max-width:540px){
    p{
        font-size: 1.1rem;
    }

    .section__div__formulario{
        font-size: 1.1rem;
    }
    
    .section__div__campo input, textarea{
        font-size: 1.1rem;
    }

    nav a {
        font-size: 0.7rem;
    }


}

/* vista mobile */
@media (max-width:470px) {
    .section__div__titulo h1{
        font-size: 3rem;
    }
    .section__div__titulo--contacto h1{
        font-size:  3rem;
    }

    .section__div__titulo--acercaDe h1{
        font-size: 3rem;
    }

    .header__nav__menu,.header__nav__submenu{
        visibility: hidden;
    }

    .section__div__titulo,.section__div__tercertitulo {
        margin-left: 5px; 
    }
    .section__div__texto p{
        margin-left:5px ;
    }

    p{
        font-size: 16px;
    }

    .section__div__tercertitulo h3{
        font-size: 19px;
    }

    .header__div{
        display: flex;
        justify-content: right;
        align-items: center;
        position: fixed;
        z-index: 999;
        margin:0 auto;
        height: 90px;
        width: 100%;
    }
    
    .header__div img{
        visibility: visible;
        display: flex;
        justify-self: flex-end;
        width:auto;
        height: 40px;
    }
    
   

    .footer{
        display: block;
        height: auto;
        text-align: center;
        /* width: 100vw; */
    }

    .footer__div{
        display: block;
        text-align: center;
        /* width: 100vw; */
        padding: 0 30vw;
        text-align: center;
    }

    .footer__imagen{
        padding:8px;
        align-items: center;
        padding: 0 auto;
    }

    .footer__imagen img{
        width: 90px;
        height:auto;
        
    }
    .footer__div__contacto{
        width: 50vw;
        align-items: center;
    }

    .footer__div__referencias{
        width: 40vw;
        text-align: center;
    }

    .footer__div__contacto a, .footer__div__referencias a{
        font-size: 13px;
    }

    .section__div__formulario{
        font-size: 14px;
        height: 350px;
    }
    
    fieldset{
        padding: 10px 15px ;
    }
    
    .section__div__campo input, textarea{
        font-size: 0.95rem;
    }
    
    input{
        font-size: 0.9rem;
    }
    
}
