@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Sintony&display=swap');

/* titulos */
/* font-family: 'Poppins', sans-serif; */

/* cuerpo */
/* font-family: 'Sintony'; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: left;
}

/* fuentes */
h1{
    font-family:  'Poppins', sans-serif;
    color: #ffffff;   
}

h2{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

h3{
    font-family: 'Sintony', sans-serif;
    color: #ffffff;
}

h4{
    font-family: 'Sintony', sans-serif;
    color: #0C1726;
}

h5{
    font-family: 'Sintony', sans-serif;
    color: #ffffff;
}

nav a{
    text-decoration: none;
    font-family: 'Sintony', sans-serif;
    color: #ffffff;
    margin:5px;  
}

p{
    font-family: 'Sintony', sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
} 

/* header */
.header{
    grid-area: header1;
    position: relative;
    background-color: #1B2740;
}

.header__icono, .footer__icono{
    width: 90px;
    height: auto;
}

.header__nav__submenu{
    background-color: #1B2740; 
}

/* hover dropdown */
.dropdown-item:hover{
    background-color: #686f86;
}

.navbar-nav{
    align-items: center;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color:#ffffff;
}

.header__div__menu a:hover{
    background-color: #686f86b4;
    border-radius: 15px;
    color:#ffffff;
}

.header__div__menu ul ul li{
    display: block;
}

.header__div__menu ul li:hover > ul{
    display: block;
}

/* FOOTER */
.row{
    align-items: center;
    justify-content: space-evenly;
}

.footer{
    grid-area: footer1;
    display: flex;
    background-color:#555C73;
    height: auto;
}

.footer__div__nav li{
    list-style: none;
}

.footer__div__nav a:hover{
    color: #0C1726;
    background-color: transparent;
}

.footer__div{
    display: flex;
}

.footer__div__nav a{
    padding:0;
    font-size: 0.9rem;
}

.col-lg-4 .col-md-6{
    margin: 0;

}

/* contenedores de texto */
/* h1 */
.section__div__titulo{
    display: flex;
    z-index: 998;
    width: 40vw;
    padding: 5px 5px 10px 35px;
    margin-bottom: 30px;
}

.section__div__titulo--acercaDe{
    display: flex;
    z-index: 998;
    width: 45vw;
    padding: 0 5px 10px 35px;
    margin-bottom: 30px;
}


.section__div__titulo--contacto{
    display: flex;
    z-index: 998;
    width: 65vw;
    padding: 5px 5px 10px 35px;
    
}

/* h2 */
.section__div__segundotitulo{
    z-index: 998;
    font-size: 1.7rem;
    text-align: center; 
    margin-bottom: 40px;
}

/* h3 */
.section__div__tercertitulo{
    display: flex;
    z-index: 998;
    width: 40vw;
    padding: 5px 5px 10px 35px;
}

/* h4 */
.section__div__equipo h4{
    z-index: 998;
    text-align: center;
    font-size: 1.1rem;
}

/* p */
.section__div__texto{
    display: flex;
    width: 90vw;
    height: 20vh;
    z-index: 998;
    padding: 0px 5px 50px 35px;
}


.section__div__texto--acercaDe{
    display: flex;
    width: 90vw;
    height: 20vh;
    z-index: 998;
    padding: 0px 5px 50px 35px; 
}


/* contenedores de imagenes */
/* index */
.jumbotron{
    border-radius: 0;
    margin: 0;
    padding:0;
}

.section--index{
    background-image: url("../assets/img/solucionesempresariales.png");
    height:100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.section--index:before{
    content: "";
    background-color: #0C1726;
    width: 100%;
    height:100vh;
    opacity: 0.7; 
    position: absolute;
}


/* acerca de */
.section--acercaDe{
    background-image: url("../assets/img/acercade.png");
    height:100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.section--acercaDe:before{
    content: "";
    background-color: #0C1726;
    width: 100%;
    height:100vh;
    position: absolute;
    opacity: 0.7;   
}

/* servicios */
.section--servicios{
    background-image: url("../assets/img/servicios.png");
    height:100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
}
.section--servicios:before{
    content: "";
    background-color: #0C1726;
    width: 100%;
    height:100vh;
    position: absolute;
    opacity: 0.7;   
}

/* quienes somos */
.section--quienessomos{
    background-image: url("../assets/img/quienessomos.png");
    height:100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.section--quienessomos:before{
    content: "";
    background-color: #0C1726;
    width: 100%;
    height:100vh;
    position: absolute;
    opacity: 0.7;   
}

/* contacto-formulario */
.section--contacto{
    background-image: url("../assets/img/contactanos.png");
    height:100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.section--contacto:before{
    content: "";
    background-color: #0C1726;
    width: 100%;
    height:100vh;
    position: absolute;
    opacity: 0.7;   
}

/* SECCION: servicios */
.section__div__table{
    display: flex; 
    height: 100vh;
    align-items: center;
    width: 95vw;
    margin:8vh 1vw;
}

.servicio{
    background-color: rgba(255, 255, 255, 0.705);
    border-right: 1px solid #686f86;
    border-radius: 15px;
    width: 19%;
    height: 80%;
    margin: 10px;
    padding-bottom: 9px;
    align-items: center;
    position: relative; 
}

.servicio__imagen{
    display: flex;
    justify-self: center;
    padding-top: 10px;
    width: 90px;
    height: auto;
    margin: 0 auto;
}

.servicio__tipo{
    font-family:  'Poppins', sans-serif;
    color: #1B2740;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-align: center;    
}

.servicio__tipo h2{
    font-size: 1.5rem;
}

.servicio__detalle{
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-family:  'Poppins', sans-serif;
    font-size: 0.75rem;
    width: 17vw;
    list-style: none;
    text-align: center;
    color: #151b25;
}

.servicio__detalle__item{
    width: 100%;
    border-top: 1px solid #8692b8;
    padding: 7px; 
    
}

.servicio:last-child{
    border-right: none;
}

/* SECCION: quienes somos */
.jumbotron{
    box-sizing: border-box;
}

.contadora{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    align-self: center;
    text-align: center;
}

.card{
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.747);
    border-right: 1px solid #686f86;
    border-radius: 15px;
}

.section__div__trayectoria p{
    color: #151b25;
    font-size: 1rem; 
    z-index: 998;
    text-align: center;
}

.section__div__trayectoria{
    box-sizing: border-box;
}

/* SECCION : contacto */
.section__div__article{
    display: flex;
    justify-content: center;
    align-content: center;
    margin:0 auto;
    
}

.section__div__formulario{
    flex-basis: 100%;
    box-sizing: border-box;
    padding: 5px;
    width: 80vw;
    height: fit-content;
    background-color:#c5ced98a;
    border-radius: 9px;
    font-family:  'Poppins', sans-serif;
    font-size: 1rem;
    position: relative;
    text-align: left;
    margin:0 auto;
    
}

fieldset{
    border:none;
    padding: 15px 30px ;
}

input{
    outline: none;
    border:none;
    padding: 8px;
    border-radius: 9px;
    font-size: 1rem;
}

textarea{
    outline: none;
    border:none;
    padding: 8px;
    width: 20vw;
    border-radius: 9px;
    font-size: 1rem;
}

.section__div__campo, .section__div__check{
    padding: 5px;
    
}

.section__div__campo input, .section__div__campo textarea{
    border: solid 1px #8692b8;
    font-size: 1rem;
    width: 75vw;
}

.campo, textarea{
    width:100%;
    background-color: #ffffff94;
}

.campo:focus{
    border-color:#0C1726;
}

/* botones */
.boton{
    border-radius: 10px;
    display: inline-block;
    padding: 5px 20px;
    box-shadow:0 0 40px -10px #000;
}

.boton--blanco{
    color:  #1B2740;
    background-color: #ffffff ;
}

.boton--blanco:hover{
    background-color:#555C73;
    color:#ffffff ;
}

.boton--blanco:active{
    background-color: #1B2740;
}

.section__div__botones{
    z-index: 998;
}

/* animaciones-transformaciones-transiciones */

.hoverZoom{
    overflow: hidden;
}

.header__nav__menu li:hover{
    background-color:#555C73;
    transition: .3s ease-in-out;
    border-radius: 15px;
}

/* SECCION: servicios */
.section__div__table:hover .hoverZoom:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: .3s ease-in-out;
    box-shadow:0 8px 20px 0px #0c1726c5;
    filter: blur(0px);
}

/* SECCION: quienes somos */
.section__div--contadoras:hover .hoverZoom,.section__div__table:hover .hoverZoom {
    filter: blur(3px);
    opacity: 0.5;
    box-shadow: none;
}

.section__div--contadoras:hover .hoverZoom:hover{
    filter: blur(0px);
    opacity: 1;
    box-shadow:0 8px 20px 0px #0c1726a2;
    transform: scale(1.2);
    transition: .3s ease-in-out;
}







